* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.h1{
    gap: 35px;
    width: 84;
height: 40;
top: 492px;
left: 24px;
font-family: Inter;
font-weight: 400;
font-size: 32.48px;
line-height: 40px;
letter-spacing: 0%;
vertical-align: middle;


}

:root {
    --jovohirri1yillikKiyminiRangi: rgba(252, 0, 74, 1);
}


.header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 16px;
    background-color: var(--jovohirri1yillikKiyminiRangi);
    border: none;
    border-radius: 12px;
    width: 80%;
    max-width: 100%;
    font-family: Inter;
    font-weight: 400;
    font-size: 14.75px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}
.Allcard{
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
}
.ota1{
    display: flex;
    flex-wrap: wrap;
     justify-content: space-around;
     margin-top: 70px;

}
.container {
    max-width: 100%;
    width: 85%;
    margin: 0 auto;
}

.header-wrapper {
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-left {
    display: flex;
    gap: 30px;
    align-items: center;
}


.header-link {
    color: #000;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.burger {
    display: none;
}
.imgg{
    width: 100%;
}


@media only screen and (max-width: 989px) {
    .header-link {
        color: #000;
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0%;
        vertical-align: middle;

    }

    .header-list {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .header-img {
        display: none;
    }

    .header-btn {
        width: 246px;

    }

}



@media only screen and (max-width: 617px) {
    .burger {
        display: flex;
    }

    .header-list {
        display: none;
    }

}